@page "/assets/{assetId}"
@model AssetModel
@{
    ViewData["Title"] = Model.Asset.Title;
}
<h1 class="display-5 mb-4">
    <span style="color: rgba(77, 219, 58, 1);">
    <i class="fas fa-table"></i>
    </span>
    @Model.Asset.Title
    <span class="small text-muted">@Model.Asset.DatasetReferenceDate.Substring(0, 4)</span>
</h1>

<p>
    @foreach (var k in Model.Asset.Keywords)
    {<span class="keyword">
        <span class="vocabful-colour-edge" style="background-color: rgba(77, 219, 58, 1);">&nbsp;</span>
            @(k.Value)
    </span>
    }
</p>

<p><span class="text-muted">Abstract</span> @Model.Asset.Abstract</p>

<br />
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab" aria-controls="main" aria-selected="true">
        <i class="fas fa-asterisk"></i>
        Main
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="usage-tab" data-toggle="tab" href="#usage" role="tab" aria-controls="usage" aria-selected="false">
        <i class="fas fa-utensils"></i>
        Usage
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="meta-tab" data-toggle="tab" href="#meta" role="tab" aria-controls="meta" aria-selected="false">
        <i class="fas fa-cog"></i>
        Meta
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="extent-tab" data-toggle="tab" href="#extent" role="tab" aria-controls="extent" aria-selected="false">
        <i class="fas fa-map-marker-alt"></i>
        Extent
    </a>
  </li>
</ul>
<div class="tab-content py-4" id="myTabContent">
  <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">

    <p><span class="text-muted">Resource Type</span> Dataset</p>

    <p><span class="text-muted">Topic Category</span> Environment</p>

    <p><span class="text-muted">Data Format</span> Comma-separated files</p>

    <p><span class="text-muted">Resource Locator</span> <a href="#">http://nowhere.example.com/example</a></p>

    <p><span class="text-muted">Lineage</span> @Model.Asset.Lineage</p>

    <p><span class="text-muted">Additional Information Source</span> Somewhere else</p>

  </div>

  <div class="tab-pane fade" id="usage" role="tabpanel" aria-labelledby="usage-tab">

    <p><span class="text-muted">Responsible Party</span> Name, Email, Role</p>
      
    <p><span class="text-muted">LimitationsOnPublicAccess</span> Stuff</p>

    <p><span class="text-muted">UseConstraints</span> Stuff</p>

  </div>

  <div class="tab-pane fade" id="meta" role="tabpanel" aria-labelledby="meta-tab">

    <p><span class="text-muted">Metadata date</span> 2016-04-14</p>
    <p><span class="text-muted">Metadata Point of Contact</span> Name, Email, Role</p>

  </div>

  <div class="tab-pane fade" id="extent" role="tabpanel" aria-labelledby="extent-tab">

    <p><span class="text-muted">Temporal Extent</span> @Model.Asset.TemporalExtent.Begin
        <i class="fas fa-long-arrow-alt-right"></i>
        @Model.Asset.TemporalExtent.End
    </p>

    <p><span class="text-muted">Bounding Box</span> A, B, C, D</p>

  </div>

</div>
