
@page "/assets/{assetId}"
@model AssetModel

@using Datahub.Web.Models
@using Datahub.Web.Pages.Helpers

@{
    ViewData["Title"] = Model.Asset.Metadata.Title;
}
@{ ViewBag.CurrentPage = "Index"; }

@section Scripts {
    <!-- <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script> -->
}
 
 <br />
 
<div class="container">



<div class="expanded row">

    <div class="column">

        <!-- Title -->
        <h1 class="display-5 mb-4" style="margin-bottom: 1rem;">
            <span style="color: #48A943; margin-right:0.3rem;">  
            <i class="fas @AssetHelpers.GetIconName(Model.Asset.Metadata.ResourceType)"
                data-toggle="tooltip" title="@Model.Asset.Metadata.ResourceType"></i>
            </span>
            <span style="margin-right: 0.1em;">@Model.Asset.Metadata.Title</span>
            <span class="text-small text-muted">@Model.Asset.Metadata.DatasetReferenceDate.Substring(0, 4)</span>
        </h1>

        <p>
            @foreach (var k in Model.Asset.Metadata.Keywords) {
                @await Html.PartialAsync("_Keyword", new Keyword { Vocab = k.Vocab, Value = k.Value })
            }
        </p>

        <div class="module">
            <p class="collapse" id="collapseExample" aria-expanded="false">
                <span class="text-label">Abstract</span> @Model.Asset.Metadata.Abstract
            </p>
            <div class="float-right">
                <a role="button" class="collapsed" data-toggle="collapse" href="#collapseExample" 
                    aria-expanded="false" aria-controls="collapseExample"></a>
            </div>

        </div>
    </div>

    @{
        // support adding "img" to the querystring just to see what any page could look like with an image
        if (this.HttpContext.Request.Query["img"] != Microsoft.Extensions.Primitives.StringValues.Empty)
        {
            Model.Asset.Image = new Image { Url = "/images/example-cover-image.png" }; // use dummy image
        }
    }
    @if (Model.Asset.Image != null && Model.Asset.Image.Url.IsNotBlank())
    {
        <div class="column large-4">
            <img src="@(Model.Asset.Image.Url)"  height="400" class="asset-image" />
        </div>
    }        


</div> <!-- row -->


<p>Hello</p>
</div> <!-- container -->
