@page
@using System.Net
@using Datahub.Web.Content
@using Datahub.Web.Models
@using Datahub.Web.Pages.Helpers

@{
    ViewBag.CurrentPage = "Index";
    ViewBag.PageHero = "True";
}

<div class="visual-section" style="background-image: url(/images/H1-ResourceHub-pixaby.jpg);">
    <div class="container">
        <h1>JNCC Resource Hub</h1>

        <form action="@(LayoutViewModel.JNCC_SEARCH_URL)" method="get" role="search" class="search-form input-group" style="position: static; max-width:100%" data-animate="hinge-in-from-top spin-out">
            <label for="datahub-search-field" class="show-for-sr" accesskey="4">Search our resources</label>
            <input autofocus type="search" placeholder="Search our resources" class="input-group-field" id="datahub-search-field" name="q">
            <input id="resources-view" type="hidden" name="v" value="resources">
            <button class="input-group-button" aria-label="search-button"><i class="icon-search"></i></button>
        </form>
    </div>
</div>

<div class="container">

<div class="homepage-header">
    <div>
        <p>JNCC's Resource Hub allows you to explore, download and reuse our corporate, technical and scientific information. In support of our commitment to open access data we produce a broad range of reports and other types of publication, plus a number of datasets.</p>
        <p>Please note, we are still in the process of adding some of the resources that were available on our old website to our Resource Hub, so if you can’t find what you’re looking for here, please <a href="https://jncc.gov.uk/contact/?ref=resources">contact us</a>. In the meantime, the material will be available via The <a href="https://webarchive.nationalarchives.gov.uk/*/http:/jncc.defra.gov.uk/">National Archives version</a> of our website.</p>
        <p>Use the search function to look for reports, data and other resources.</p>
    </div>
</div>

<div class="exemplar-list-header">
    <h2>
        Featured resources
    </h2>
    <div class="grid-x grid-margin-x space-below">
        <div class="cell medium-6 large">
            @foreach (var a in HomePageContent.Content.Column1Resources) {
                <div class="exemplar">
                    <div class="exemplar-title">
                        @a.Title
                    </div>
                    <div>@a.Abstract</div>
                    <a class="button" href="@a.Url">Find out more</a>
                </div>
            }
        </div>

        <div class="cell medium-6 large">
            @foreach (var a in HomePageContent.Content.Column2Resources) {
                <div class="exemplar">
                    <div class="exemplar-title">
                        @a.Title
                    </div>
                    <div>@a.Abstract</div>
                    <a class="button" href="@a.Url">Find out more</a>
                </div>
            }
        </div>
    </div>
</div>

<!-- TODO add this back when we have keyword search again -->
<!-- <div class="exemplar-list-header">
    <h2>
        <i class="spot-colour space-after fas fa-layer-group"></i>
        Content categories
    </h2>
    <div class="grid-x grid-margin-x space-below">
        @foreach (var c in HomePageContent.Content.FeaturedCategories)
        {
            <div class="cell medium-6 large">
                @{ var keyword = WebUtility.UrlEncode(c.Vocab + "/" + c.Value);}
                <a href="/search?k=@keyword">
                    @await Html.PartialAsync("_Keyword", new Keyword { Vocab = c.Vocab, Value = c.Value })
                </a>
                <p>@c.Description</p>
            </div>
        }
    </div>
</div> -->


<environment include="Development">

<h2>Dev-time data</h2>

<div class="row">
    <div class="large-6">

        <h2>Common Standards Monitoring</h2>
        <p>
            @await Html.PartialAsync("_Keyword", new Keyword {
                Vocab="http://vocab.jncc.gov.uk/web-category",
                Value="Common Standards Monitoring",
                Link="/Search?k=" + WebUtility.UrlEncode("http://vocab.jncc.gov.uk/web-category/Common Standards Monitoring")
            })
        </p>
        <ul>
            <li><a href="/assets/896f9132-8b1f-44cd-91f3-2423311668f2">Common Standards Monitoring Guidance for Coastal</a></li>
            <li><a href="/assets/6c6efb44-d9a3-45f4-9547-99e44a30e066">Common Standards Monitoring Guidance for Freshwater Habitats and Species</a></li>
            <li><a href="/assets/36959434-2b2a-4ce1-a42d-3294cd1a9731">Common Standards Monitoring Guidance for Lowland Grassland</a></li>
            <li><a href="/assets/36959434-2b2a-4ce1-a42d-3294cd1a9731">Common Standards Monitoring Guidance for Lowland Heathlands</a></li>
            <li><a href="/assets/5a83589c-6570-4490-a243-c926580d3036">Common Standards Monitoring Guidance for Lowland Wetland</a></li>
            <li><a href="/assets/c9f48a5d-e003-46cf-b3ff-9dc15e0d8acb">Common Standards Monitoring Guidance for Marine</a></li>
        </ul>

    </div>
    <div class="large-6">

        <h2>Earth Observation</h2>
        <p>
            @await Html.PartialAsync("_Keyword", new Keyword {
                Vocab="http://vocab.jncc.gov.uk/web-category",
                Value="Earth Observation",
                Link="/Search?k=" + WebUtility.UrlEncode("http://vocab.jncc.gov.uk/web-category/Earth Observation")
            })
        </p>
        <ul>
            <li><a href="/assets/4b9204f4-e3c8-4c48-b689-73773a42407c">Crick Framework: a systematic description of the potential for the use of Earth Observation in habitat mapping</a></li>
            <li><a href="/assets/5955fd9c-8c9a-4a8c-b72e-2ed3fb756f5c">Making Earth Observation Work for UK Biodiversity Conservation Phase 1</a></li>
            <li><a href="/assets/9192679c-5260-443e-a413-acee4798a62a">Making Earth Observation Work for UK Biodiversity (SHOULD BE CALLED PHASE 2?)</a></li>
        </ul>

    </div>
</div>
</environment>



<div class="text-right" style="font-size:60%; margin-bottom:2em;">
     
</div>


</div>



<environment include="Development">

<!--
<div class="row">
    <div class="col-md-6">
        <h2>Common Standards Monitoring</h2>
        <p>
            @await Html.PartialAsync("_Keyword", new Keyword {
                Vocab="http://vocab.jncc.gov.uk/web-category",
                Value="Common Standards Monitoring",
                Link="/Search?k=" + WebUtility.UrlEncode("http://vocab.jncc.gov.uk/web-category/Common Standards Monitoring")
            })
        </p>
        <ul>
            <li><a href="/assets/896f9132-8b1f-44cd-91f3-2423311668f2">Common Standards Monitoring Guidance for Coastal</a></li>
            <li><a href="/assets/6c6efb44-d9a3-45f4-9547-99e44a30e066">Common Standards Monitoring Guidance for Freshwater Habitats and Species</a></li>
            <li><a href="/assets/36959434-2b2a-4ce1-a42d-3294cd1a9731">Common Standards Monitoring Guidance for Lowland Grassland</a></li>
            <li><a href="/assets/36959434-2b2a-4ce1-a42d-3294cd1a9731">Common Standards Monitoring Guidance for Lowland Heathlands</a></li>
            <li><a href="/assets/5a83589c-6570-4490-a243-c926580d3036">Common Standards Monitoring Guidance for Lowland Wetland</a></li>
            <li><a href="/assets/c9f48a5d-e003-46cf-b3ff-9dc15e0d8acb">Common Standards Monitoring Guidance for Marine</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Earth Observation</h2>
        <p>
            @await Html.PartialAsync("_Keyword", new Keyword {
                Vocab="http://vocab.jncc.gov.uk/web-category",
                Value="Earth Observation",
                Link="/Search?k=" + WebUtility.UrlEncode("http://vocab.jncc.gov.uk/web-category/Earth Observation")
            })
        </p>
        <ul>
            <li><a href="/assets/4b9204f4-e3c8-4c48-b689-73773a42407c">Crick Framework: a systematic description of the potential for the use of Earth Observation in habitat mapping</a></li>
            <li><a href="/assets/5955fd9c-8c9a-4a8c-b72e-2ed3fb756f5c">Making Earth Observation Work for UK Biodiversity Conservation Phase 1</a></li>
            <li><a href="/assets/9192679c-5260-443e-a413-acee4798a62a">Making Earth Observation Work for UK Biodiversity (SHOULD BE CALLED PHASE 2?)</a></li>
        </ul>
    </div>
</div>
<div class="row">

    <div class="col-md-6">
        <h2>National Vegetation Classification</h2>
        <ul>
            <li><a href="/assets/68040147-98df-4034-9678-5bea6324e174">An Illustrated Guide to British Upland Vegetation</a></li>
            <li><a href="/assets/869f14dc-7619-46fa-a0c5-efcc6907eb7f">Names of NVC communities and sub-communities</a></li>
            <li><a href="/assets/e3a169a5-de64-4696-9951-14c5c97a1843">National Vegetation Classification field guide to mires and heaths</a></li>
            <li><a href="/assets/1f1d5723-afdc-4c8a-8369-00ec6adc8259">National vegetation classification field guide to woodland</a></li>
            <li><a href="/assets/aeeaa777-ab96-4d5a-bba1-1154b5ad92a0">NVC Users' Handbook</a></li>
            <li><a href="/assets/158f8d44-6ee1-44f3-b974-c790e2fa15e2">Summary descriptions of National Vegetation Classification grassland and montane communities</a></li>
            <li><a href="/assets/5da05283-b6ca-44de-a21d-0a5982023b55">Summary of National Vegetation Classification Woodland Descriptions</a></li>
        </ul>
    </div>

    <div class="col-md-6">
        <h2>Other Topcat datasets</h2>
        <ul>
            <li><a href="/assets/1122d9be-6f1b-42f2-bdf7-1e26b33779a2">Prediction of outcrops or subcrops of rock in UK shelf seabed (public)</a></li>
            <li><a href="/assets/7dc6e2da-5d15-4b3f-842b-d7cc8bd94ff1">National Plant Monitoring Scheme, 2015 dataset</a></li>
            <li><a href="/assets/478f7160-967b-4366-acdf-8941fd33850b">UK Species Conservation Designation master list</a></li>
            <li><a href="/assets/f0e372e3-1580-4bf4-b31a-2b18ab9ca51d">Wetlands of international importance under the Ramsar convention</a></li>
        </ul>
    </div>
</div>
-->
</environment>
