<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
        @(ViewData["Title"] == null || ViewData["Title"].ToString() == String.Empty
            ? "JNCC Resource Hub"
            : ViewData["Title"] + " | JNCC Resource Hub")
    </title>
    <environment exclude="Development">
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','@(LayoutViewModel.GTM_ID)');</script>
        <!-- End Google Tag Manager -->
    </environment>
    <environment include="Development">
        <!-- <link rel="stylesheet" href="~/css/site.css" /> -->
    </environment>
    <environment exclude="Development">
        <!-- <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" /> -->
    </environment>
	<link rel="stylesheet" href="~/frontend/css/app.css">
	<link rel="shortcut icon" href="~/frontend/favicon.ico" type="image/x-icon">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
	<script>window.jQuery || document.write('<script src="/frontend/js/lib/jquery-3.3.1.min.js" defer><\/script>')</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.0/js/foundation.min.js" defer></script>
	<script src="~/frontend/js/app.js" defer></script>
</head>
<body>
    <environment exclude="Development">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=@(LayoutViewModel.GTM_ID)"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->        
    </environment>
	<noscript><div>Javascript must be enabled for the correct page display</div></noscript>
	<div id="wrapper">
		<a class="accessibility" href="#main" accesskey="S">Skip to Content</a>
		<header id="header">
			<div class="container">
				<strong class="logo">
					<a href="@(LayoutViewModel.JNCC_WEBSITE_URL)" accesskey="1"><img src="~/frontend/images/logo.png" alt="JNCC"></a>
				</strong>
                <!-- <h4>Resource hub</h4> -->
				<form action="@(LayoutViewModel.JNCC_WEBSITE_URL)/search" role="search" name="q" class="top-bar search-form input-group" id="search-form" data-animate="hinge-in-from-top spin-out">
					<label for="search-field" class="show-for-sr" accesskey="4">Search:</label>
					<input type="search" placeholder="Search jncc.gov.uk" class="input-group-field" id="search-field">
					<button class="input-group-button" aria-label="search-button"><i class="icon-search"></i></button>
				</form>
				<div class="show-for-small-only">
					<div class="title-bar" data-responsive-toggle="search-form" data-hide-for="medium">
						<button type="button" class="search-opener" data-toggle="search-form" aria-label="search-opener"><i class="icon-search"></i></button>
					</div>
					<div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
						<button type="button" class="nav-opener" data-toggle="menu" data-responsive-toggle="menu" aria-label="navigation-opener"><span></span></button>
					</div>
				</div>
			</div>
			<nav class="top-bar nav" id="menu" data-animate="hinge-in-from-top spin-out" aria-label="main-navigation">
				<div class="container">
					<ul class="vertical medium-horizontal menu dropdown">
						<li><a href="@(LayoutViewModel.JNCC_WEBSITE_URL)"><i class="icon-keyboard-arrow-left"></i> Back to main site</a></li>
						<li class="@(ViewBag.CurrentPage == "Index" ? "active" : "") "><a href="~/">Resource hub</a></li>
						<li class="@(ViewBag.CurrentPage == "About" ? "active" : "") "><a href="~/about">About</a></li>
					</ul>
				</div>
			</nav>
		</header>

        <main id="main">
        @RenderBody()
        </main>

		<footer id="footer" class="text-center medium-text-left">
			<div class="container">
				<div class="row">
					<div class="columns small-12 medium-4">
						<nav class="holder" id="footer-nav" aria-label="footer-navigation">
							<h3>About Us</h3>
							<ul class="footer-nav no-bullet">
								<li><a href="#" accesskey="2">News</a></li>
								<li><a href="#">Procurement</a></li>
								<li><a href="#">Consultations</a></li>
								<li><a href="#">Career</a></li>
								<li><a href="#" accesskey="9">Contact Us</a></li>
								<li><a href="#">More About Us</a></li>
							</ul>
						</nav>
					</div>
					<div class="columns small-12 medium-4">
						<nav class="holder" aria-label="footer-navigation">
							<h3>OUR Science</h3>
							<ul class="footer-nav no-bullet">
								<li><a href="#">Data Hub</a></li>
								<li><a href="#">MHC</a></li>
							</ul>
						</nav>
					</div>
					<div class="columns small-12 medium-4">
						<nav class="holder" aria-label="footer-navigation">
							<h3>Our Services</h3>
							<ul class="footer-nav no-bullet">
								<li><a href="#">Valuing the Environment</a></li>
								<li><a href="#">Advice</a></li>
								<li><a href="#">Monitoring</a></li>
								<li><a href="#">Pressures</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<ul class="social-media no-bullet">
					<li><a href="#"><span class="show-for-sr">Facebook</span><i class="icon-facebook"></i></a></li>
					<li><a href="#"><span class="show-for-sr">Twitter</span><i class="icon-twitter"></i></a></li>
					<li><a href="#"><span class="show-for-sr">Youtube</span><i class="icon-youtube"></i></a></li>
				</ul>
			</div>
			<div class="footer-bottom">
				<div class="container">
					<ul class="footer-bottom-list no-bullet">
						<li><a href="#">Join Nature Conservation Commitee</a></li>
						<li>Press Office<a href="tel:01733868888"> 01733 868888</a></li>
					</ul>
					<ul class="footer-bottom-list no-bullet info">
						<li><a href="#" accesskey="8">Terms of use</a></li>
						<li><a href="#">Privacy</a></li>
						<li><a href="#">Cookie policy</a></li>
						<li><a href="#">Accessability</a></li>
					</ul>
				</div>
			</div>
		</footer>
	</div>
	<a class="accessibility" href="#wrapper">Back to top</a>

@RenderSection("Scripts", required: false)
</body>
</html>
