
@using Datahub.Web.Pages.Helpers

<!doctype html>
<html lang="en">
<head>
    @if (LayoutViewModel.GOOGLE_ANALYTICS) {
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-15841534-4"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-15841534-4');
        </script>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NS88J5S');</script>
        <!-- End Google Tag Manager -->
    }
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
        @(ViewData["Title"] == null || ViewData["Title"].ToString() == String.Empty
            ? "JNCC Resource Hub"
            : ViewData["Title"] + " | JNCC Resource Hub")
    </title>
	@if(ViewData["Description"] != null)
	{
	<meta name="description" content="@(ViewData["Description"])">
	}
	
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="shortcut icon" href="~/frontend/favicon.ico" type="image/x-icon">

	<link rel="stylesheet" href="~/frontend/css/app.css">
	<link rel="stylesheet" href="~/css/site.css">

    @RenderSection("Styles", required: false)

    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.0/js/foundation.min.js" defer></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script src="~/js/lib/readmore-3.0.0-beta-1.js" defer></script>

    <environment include="Development">
        <script src="~/js/site.js"></script>
		<script src="~/frontend/js/app.js" defer></script>       
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js"></script>
    </environment>

</head>
<body>
	<noscript><div>Javascript must be enabled for the correct page display</div></noscript>
    @if (LayoutViewModel.GOOGLE_ANALYTICS) {
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NS88J5S"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
    }
	<div id="wrapper">
		<a class="accessibility" href="#main" accesskey="S">Skip to Content</a>
		<header id="header">
			<div class="container">
				<strong class="logo">
					<a href="@(LayoutViewModel.JNCC_WEBSITE_URL)" accesskey="1"><img src="~/frontend/images/logo.png" alt="JNCC"></a>
				</strong>
				<form action="@(LayoutViewModel.JNCC_WEBSITE_URL)/search" role="search" class="top-bar search-form input-group" id="search-form" data-animate="hinge-in-from-top spin-out">
					<label for="search-field" class="show-for-sr" accesskey="4">Search:</label>
					<input type="search" name="q" placeholder="Search jncc.gov.uk" class="input-group-field" id="search-field">
					<button class="input-group-button" aria-label="search-button"><i class="icon-search"></i></button>
				</form>
				<div class="show-for-small-only">
					<div class="title-bar" data-responsive-toggle="search-form" data-hide-for="medium">
						<button type="button" class="search-opener" data-toggle="search-form" aria-label="search-opener"><i class="icon-search"></i></button>
					</div>
					<div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
						<button type="button" class="nav-opener" data-toggle="menu" data-responsive-toggle="menu" aria-label="navigation-opener"><span></span></button>
					</div>
				</div>
			</div>
			<nav class="top-bar nav @(ViewBag.PageHero == "True" ? "" : "no-page-hero") " id="menu" data-animate="hinge-in-from-top spin-out" aria-label="main-navigation">
				<div class="container mobileNavContainer">
					<ul class="vertical medium-horizontal menu dropdown" data-dropdown-menu data-click-open data-alignment="left"
                     style="vertical-align:middle;">
                        @* these links now have to be kept up-to-date manually with the JNCC website *@
                        <li class="is-dropdown-submenu-parent">
                            <a href="https://jncc.gov.uk/our-role/">Our role</a>
                            <ul class="vertical menu nested">
                                <li class="">
                                    <a href="https://jncc.gov.uk/our-role/the-uk/">The UK</a>
                                </li>
                                <li class="">
                                    <a href="https://jncc.gov.uk/our-role/the-offshore-marine-environment/">The offshore marine environment</a>
                                </li>
                                <li class="">
                                    <a href="https://jncc.gov.uk/our-role/the-uks-overseas-territories/">The UK&#39;s Overseas Territories</a>
                                </li>
                                <li class="">
                                    <a href="https://jncc.gov.uk/our-role/international/">International</a>
                                </li>
                            </ul>
                        </li>
                        <li class="is-dropdown-submenu-parent">
                            <a href="https://jncc.gov.uk/monitoring/">Monitoring</a>
                            <ul class="vertical menu nested">
                                <li class="">
                                    <a href="https://jncc.gov.uk/monitoring/cost-effective-approaches/">Cost-effective approaches</a>
                                </li>
                                <li class="">
                                    <a href="https://jncc.gov.uk/monitoring/earth-observation/">Earth observation</a>
                                </li>
                                <li class="">
                                    <a href="https://jncc.gov.uk/monitoring/marine-monitoring-mapping/">Marine monitoring &amp; mapping</a>
                                </li>
                                <li class="">
                                    <a href="https://jncc.gov.uk/monitoring/analyses-trends/">Analyses &amp; trends</a>
                                </li>
                            </ul>
                        </li>
                        <li class="is-dropdown-submenu-parent">
                            <a href="https://jncc.gov.uk/evaluating/">Evaluating</a>
                            <ul class="vertical menu nested">
                                <li class="">
                                    <a href="https://jncc.gov.uk/evaluating/sustainable-global-supply-chains/">Sustainable global supply chains</a>
                                </li>
                                <li class="">
                                    <a href="https://jncc.gov.uk/evaluating/land-use/">Land use</a>
                                </li>
                                <li class="">
                                    <a href="https://jncc.gov.uk/evaluating/climate-change/">Climate change</a>
                                </li>
                            </ul>
                        </li>
                        <li class="is-dropdown-submenu-parent">
                            <a href="https://jncc.gov.uk/advice/">Advice</a>
                            <ul class="vertical menu nested">
                                <li class="">
                                    <a href="https://jncc.gov.uk/advice/improving-global-co-ordination-action/">Improving global co-ordination &amp; action</a>
                                </li>
                                <li class="">
                                    <a href="https://jncc.gov.uk/advice/offshore-industries/">Offshore Industries</a>
                                </li>
                                <li class="">
                                    <a href="https://jncc.gov.uk/advice/marine-protected-areas/">Marine Protected Areas</a>
                                </li>
                                <li class="">
                                    <a href="https://jncc.gov.uk/advice/sustainable-development-overseas/">Sustainable development overseas</a>
                                </li>
                            </ul>
                        </li>
                        <li class="is-dropdown-submenu-parent">
                            <a href="https://jncc.gov.uk/our-work/">Our work</a>
                            <ul class="vertical menu nested">
                                <li class="">
                                    <a href="https://jncc.gov.uk/our-work/our-work-a-z/">Our work A–Z</a>
                                </li>
                            </ul>
                        </li>
                        <li class="is-dropdown-submenu-parent @(ViewBag.CurrentPage == "Index" ? "active" : "") ">
                            <a href="~/">Resources</a>
                            <ul class="vertical menu nested">
        						<li class="">
                                    <a href="~/search">Search our resources</a>
                                </li>
                            </ul>
                        </li>
                        <li class="is-dropdown-submenu-parent">
                            <a href="https://jncc.gov.uk/about-jncc/">About JNCC</a>
                            <ul class="vertical menu nested">
                                <li class="">
                                    <a href="https://jncc.gov.uk/about-jncc/who-we-are/">Who we are</a>
                                </li>
                                <li class="">
                                    <a href="https://jncc.gov.uk/about-jncc/how-we-work/">How we work</a>
                                </li>
                                <li class="">
                                    <a href="https://jncc.gov.uk/about-jncc/our-performance/">Our performance</a>
                                </li>
                                <li class="">
                                    <a href="https://jncc.gov.uk/about-jncc/corporate-information/">Corporate information</a>
                                </li>
                                <li class="">
                                    <a href="https://jncc.gov.uk/about-jncc/jncc-blog/">JNCC Blog</a>
                                </li>
                                <li class="">
                                    <a href="https://jncc.gov.uk/about-jncc/careers/">Careers</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menuitem">
                            <a href="https://jncc.gov.uk/news/">News</a>
                        </li>
					</ul>
				</div>
			</nav>
		</header>

        <p class="container show-for-small-only" style="margin-bottom: 1.5rem;">
            <i class="fas fa-database fa-fw"></i> Resource hub
        </p>

        <main id="main">
        @RenderBody()
        </main>

		<footer id="footer" class="text-center medium-text-left">
			<div class="container">
				<div class="row" id="footer-nav">
					<div class="columns small-12 medium-4">
						<nav class="holder" aria-label="footer-navigation">
							<h3>About us</h3>
							<ul class="footer-nav no-bullet">
								<li><a href="https://jncc.gov.uk/about-jncc/">About JNCC</a></li>
								<li><a href="https://jncc.gov.uk/about-jncc/careers/">Careers</a></li>
								<li><a href="https://jncc.gov.uk/about-jncc/corporate-information/procurement/">Procurement</a></li>
							</ul>
						</nav>
					</div>
					<div class="columns small-12 medium-4">
						<nav class="holder" aria-label="footer-navigation">
							<h3>Our work</h3>
							<ul class="footer-nav no-bullet">
								<li><a href="https://jncc.gov.uk/our-work/our-work-a-z/">Our work A-Z</a></li>
								<li><a href="https://hub.jncc.gov.uk/">Resource hub</a></li>
								<li><a href="https://jncc.gov.uk/about-jncc/jncc-blog/">JNCC Blog</a></li>
								<li><a href="https://jncc.gov.uk/news/">News</a></li>
							</ul>
						</nav>
					</div>
					<div class="columns small-12 medium-4">
						<nav class="holder" aria-label="footer-navigation">
							<h3>Our services</h3>
							<ul class="footer-nav no-bullet">
								<li><a href="https://jncc.gov.uk/our-role/">Our role</a></li>
								<li><a href="https://jncc.gov.uk/monitoring/">Monitoring</a></li>
								<li><a href="https://jncc.gov.uk/evaluating/">Evaluating</a></li>
								<li><a href="https://jncc.gov.uk/advice/">Advice</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<ul class="social-media no-bullet">
					<li><a href="https://twitter.com/JNCC_UK" target="_blank"><span class="show-for-sr">twitter</span><i class="icon-twitter"></i></a></li>
					<li><a href="https://www.facebook.com/JNCCUK" target="_blank"><span class="show-for-sr">facebook</span><i class="icon-facebook"></i></a></li>
					<li><a href="https://www.linkedin.com/company/jncc" target="_blank"><span class="show-for-sr">linkedin</span><i class="icon-linkedin"></i></a></li>
					<li><a href="https://www.youtube.com/channel/UC14QLVv3QA1Xu6Fjdn7GJnw"><span class="show-for-sr">youtube</span><i class="icon-youtube"></i></a></li>
				</ul>
			</div>
			<div class="footer-bottom">
				<div class="container">
					<p>&copy; Joint Nature Conservation Committee, Monkstone House, City Road, Peterborough, PE1 1JY<br>Tel: 01733 562626 Fax: 01733 555948. Contact us:&nbsp;<a href="https://jncc.gov.uk/contact/?ref=hub" title="contact" data-anchor="?ref=hub">Enquiry form</a><br>JNCC SUPPORT CO. Registered in England and Wales. Company no. 05380206. Registered office as above</p>
					<ul class="footer-bottom-list no-bullet info">
						<li><a href="https://jncc.gov.uk/about-jncc/corporate-information/privacy-statement/">Privacy statement</a></li>
						<li><a href="https://jncc.gov.uk/about-jncc/corporate-information/accessibility-statement/">Accessibility statement</a></li>
						<li><a href="https://jncc.gov.uk/about-jncc/corporate-information/cookie-policy/">Cookie policy</a></li>
					</ul>
				</div>
			</div>
		</footer>
	</div>
	<a class="accessibility" href="#wrapper">Back to top</a>
    
    @RenderSection("Scripts", required: false)
    
    <!-- Cookie Consent Setup -->
    <div data-cookie-banner-container class="sticky-cookie"></div>
    @if (@Context.Request.Cookies["cookiePolicyAcceptance"] == null)
    {
    <script type="text/html" class="sticky-cookie" id="cookie-banner-template" data-cookie-name="cookiePolicyAcceptance" data-cookie-duration="20">
        <div class="row expanded cookie-policy" data-closable>
            <div class="container row">
                <div class="cookie-banner-text columns small-12 medium-9 large-9">
                    We use cookies to track usage of our site. Details of these can be found on our <a href="https://jncc.gov.uk/about-jncc/corporate-information/cookie-policy/" title="Cookie policy">Cookie Policy</a>. You may choose to <button class="buttonLink" onclick="CookieDisagreement()">decline all tracking cookies</button>, but if you do some key features may not work as expected.
                </div>
                <div class="columns small-12 medium-3 large-3">
                    <p class="cookie-button-container">
                        <button class="cookie-button" onclick="CookieAgreement()" id="Agree">Agree &amp; Close</button>
                    </p>
                </div>
            </div>
        </div>
    </script>
    }

</body>
</html>
