
@model Nest.IHit<Datahub.Web.Models.SearchResult>
@using Datahub.Web.Models
@using Datahub.Web.Pages.Helpers

<h5 class="display-5">
    @if (Model.Highlights.Any(x => x.Key == "title"))
    {
        <a href="@(Model.Source.Url)">@Html.Raw(Model.Highlights.First(x => x.Key == "title").Value.Highlights.First())</a>
    }
    else
    {
        <a href="@(Model.Source.Url)">@(Model.Source.Title)</a>
    }
</h5>
<div>
    @if (Model.Source.Keywords != null && Model.Source.Keywords.Count > 0)
    {
        @foreach (var k in Model.Source.Keywords)
        {
            <button type="button" onclick="addKeyword('@k.Vocab', '@k.Value')">
                @await Html.PartialAsync("_Keyword", new Keyword { Vocab = k.Vocab, Value = k.Value })
            </button>
        }
    }
</div>

@if (Model.Highlights.Any(x => x.Key == "content"))
{
    <p>@(Html.Raw(Model.Highlights.First(x => x.Key == "content").Value.Highlights.First()))</p>
}
else
{
    <p>@(Html.Raw(Model.Source.ContentTruncated))</p>
}

<br />
