
@model Datahub.Web.Models.SearchResultModel
@using Datahub.Web.Pages.Helpers

<h5 class="display-5">
    <span style="color: rgba(77, 219, 58, 1);">
    <i class="fas @(AssetHelpers.GetIconName(Model.ResourceType))"
        data-toggle="tooltip" title="@(Model.ResourceType)"></i>
    </span>
  <a href="/assets/@(Model.Id)">@(Model.Title)</a> 
  <span class="text-muted">@(Model.DatasetReferenceDate.Substring(0, 4))</span>
</h5>
<p>@(Model.Abstract)</p>
